body {
  margin: 0;
  padding: 10px 20px;
  font-family: 'm-plus-rounded-1c-thin';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
  padding: 2px;
}